<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../static/assets/images/logo1-122x115.png" type="image/x-icon">
  <title>user</title>
  <link rel="stylesheet" href="../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../static/assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../static/assets/theme/css/style.css">
  <link rel="stylesheet" href="../static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
</head>
<body>
<section class="menu cid-qUQxPO3dKz" once="menu" id="menu1-e">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">\
                         <img src="../static/assets/images/logo1-122x115.png" alt="logo" title="" style="height: 3.8rem;">
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-2" href="#top">CEG</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/userhome">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                    Home &nbsp;&nbsp;</a>
                </li>
                </ul>
            <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-primary display-4" href="/logout">
                    <span class="mbrib-login mbr-iconfont mbr-iconfont-btn"></span>
                Logout</a>
            </div>
        </div>
    </nav>
</section>

<section class="features8 cid-qUQrOYSf8a" id="features8-c">
    <div class="container">
        <div class="media-container-row">
            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbr-iconfont mbrib-image-gallery"></span>
                </div>
                <div class="card-box align-center">
                	<br>
                    <h4 class="card-title mbr-fonts-style display-7">GET ALL RECORDS</h4>
                    <br>
                    <div class="mbr-section-btn text-center"><a href="/user/getall" class="btn btn-secondary display-4">GET</a></div>
                    <br>
                </div>
            </div>
            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbr-iconfont mbrib-calendar"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">GET BY DATE</h4>
                    <br>
                    <form class="mbr-form" action="/user/bydate" method="post">
                        <div >
                            <div class="form-group">
                                <input type="DATE" class="form-control px-3" style="width: 300px; margin-left: 20px;" name="date" required="" >
                            </div>
                        </div>
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-secondary btn-form display-4">GET</button></span>
                        <br>
                    </form>
                </div>
            </div>
            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbr-iconfont mbrib-target"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        GET BY ROLL</h4>
                        <br>
                    <form class="mbr-form" action="/user/byroll" method="post">
                        <div >
                            <div class="form-group">
                                <input type="number" class="form-control px-3" style="width: 300px; margin-left: 20px;" name="roll" placeholder="roll number" required="" >
                            </div>
                        </div>
                        <span class="input-group-btn"><button href="" type="submit" class="btn btn-secondary btn-form display-4">GET</button></span>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

  <script src="../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../static/assets/popper/popper.min.js"></script>
  <script src="../static/assets/tether/tether.min.js"></script>
  <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../static/assets/dropdown/js/script.min.js"></script>
  <script src="../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../static/assets/theme/js/script.js"></script>
  
</body>
</html>