<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../static/assets/images/logo1-122x115.png" type="image/x-icon">
  <title>upload</title>
  <link rel="stylesheet" href="../static/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../static/assets/tether/tether.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../static/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="../static/assets/theme/css/style.css">
  <link rel="stylesheet" href="../static/assets/mobirise/css/mbr-additional.css" type="text/css">
  
</head>
<body>
  <section class="menu cid-qUVU4YQ2gl" once="menu" id="menu1-3">

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    
                         <a href=""><img src="../static/assets/images/logo1-122x115.png" alt="logo" title="" style="height: 3.8rem;"></a>
                    
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-5" href="">CEG</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="/home">
                        <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>Home</a>
                </li>
            </ul>
            
        </div>
    </nav>
</section>

<section class="mbr-section form3 cid-qUW0EodMgU mbr-parallax-background" id="form3-4">
    <div class="container">
      <br><br><br><br><br>
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">UPLOAD FORM
                </h2>
                <br><br>
            </div>
        </div>

        <div class="row py-2 justify-content-center">
            <div class="col-12 col-lg-6  col-md-8 ">
                {% if msg %}
                <div id="hidediv" class="alert alert-danger" style="text-align:center; background-color:limegreen; font-size:20px;">
                    <strong> {{msg}} </strong>
                </div>
                {% endif %}
                <form class="mbr-form" action="/uploader" method="post">
                    <div class="mbr-subscribe input-group">
                        <input class="form-control" type="number" name="roll" placeholder="Roll Number" required="" id="email-form3-4">
                        <span class="input-group-btn"><input type="submit" class="btn btn-primary display-4" name="UPLOAD"></span>
                    </div>
                </form>
                <br><br><br><br><br>
            </div>
        </div>
    </div>
</section>
    <script>
      setTimeout(function () {
          $('#hidediv').fadeOut('slow');
      }, 5000);
  </script>

  <script src="../static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="../static/assets/popper/popper.min.js"></script>
  <script src="../static/assets/tether/tether.min.js"></script>
  <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="../static/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="../static/assets/dropdown/js/script.min.js"></script>
  <script src="../static/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="../static/assets/parallax/jarallax.min.js"></script>
  <script src="../static/assets/theme/js/script.js"></script>
  <script src="../static/assets/formoid/formoid.min.js"></script>
  
  
</body>
</html>